account.json
.terraform
*tfstate*
setup/*
crash.log
dist
*.zip
logs
*.srl
*.crt
*.csr
*.key
*.pub
*.pem
*.swp
.*.sw?
.idea
terragrunt.iml
vendor
.terraform
.vscode
*.tfstate
*.tfstate.backup
*.out
.terragrunt-cache
*.dll
*.exe
